@import "OneDark.css";

* {
    font-family: "JetBrainsMonoNerdFont";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    background-color: @black;
    color: @white;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-radius: 5px;
    margin: 5px;
}

#workspaces button {
    background: inherit;
    color: @brightblack
}

#workspaces button.focused {
    color: @white;
}

#workspaces button.active {
    color: @brightwhite
}

#workspaces button.urgent {
    color: @red
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#clock,
#pulseaudio,
#network,
#idle_inhibitor,
#battery {}